﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/wwwroot/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form form-group has-info" id="login-form">
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Inicio de sesion
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100 left" type="text" name="EMAIL" id="EMAIL" placeholder="Email">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                    <div class="help-block">

                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="CONTRASENA" id="password" placeholder="Contraseña">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>

                    </div>

                    @*<div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>*@

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" value="Login" onclick="Validate();">
                            Entrar
                        </button>
                    </div>

                    @*<div class="text-center p-t-90">
                            <a class="txt1" href="#">
                                Forgot Password?
                            </a>
                        </div>*@
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/wwwroot/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/wwwroot/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/wwwroot/vendor/bootstrap/js/popper.js"></script>
    <script src="~/wwwroot/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/wwwroot/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/wwwroot/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/wwwroot/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/wwwroot/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/wwwroot/js/main.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/customJS.js"></script>

</body>
</html>

<script>

    function Validate() {

    $.ajax(

        {
            type: "POST",
            url: '@Url.Action("Validate", "Account")',
            data: {
                email: $('#EMAIL').val(),
                contrasena: $('#password').val()
            },
            error: function (result) {
                alert("ha ocurrido un error intentelo de nuevo!");
            },
            success: function (result) {
                console.log(result);
                if (result.status === true) {
                    window.location = '@Url.Action("Index", "Home")';
                    System.Web.HttpContext.Current.User.Identity.Name = email;

                }
                else {
                    alert(result.message);
                }
            }

        });

}

    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });


    $('#login-form').validate({
        rules: {
            EMAIL: {
                required: true,
                email: true
            },
            CONTRASENA: {
                required: true,
                minlength: 8
            },
        },
        messages: {
            EMAIL: {
                required: "Favor proveer un correo valido.",
                email: "Favor proveer un correo valido"
            },
            CONTRASENA: {
                required: "Favor especificar la contraseña.",
                minlength: "Favor proveer una contraseña segura."
            },
        },


        highlight: function (e) {
            $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
        },

        success: function (e) {
            $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
            $(e).remove();
        },

        submitHandler: function (form) {
        },
        invalidHandler: function (form) {
        }
    });




</script>

